{{ define "main" }}
  {{ $sectionID := .Title | urlize }}
  <h1 id="{{ $sectionID }}">{{ .Title | markdownify }}</h1>

  {{ .Content }}

  <hr>
  <section class="posts-list" aria-labelledby="{{ $sectionID }}">
  {{ range .Pages.ByWeight }}
    <article class="post-item">
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a> - Last Updated: {{ .Date.Format "January 2, 2006" }}</h2>
      <p class="post-meta"></p>
      <p class="post-summary">{{ if .Params.description }}{{ .Params.description }}{{ end }}</p>
    </article>
  {{ end }}
  </section>

{{ end }}

{{/* This section is needed for the sidebar note */}}
{{ define "aside" }}
  {{ with .Params.description }}<p>{{ . }}</p>{{ end }}
{{ end }}
